body {
    color: azure;
    font-family: "verdana", sans-serif;
    background-color: rgba(27, 27, 27, 0.867);
}

.cardleft,
.cardright,
.cardbottom {
    border: 2px solid white;
    padding: 5px;
    margin: 2px;
    margin-bottom: 4px;
    background-color: rgba(98, 97, 97, 0.867);
}

.cardleft {
    width: 300px;
    height: 400px;
    display: inline-block;
    vertical-align: middle; 
}

.cardright {
    width: 600px;
    height: 400px;
    display: inline-block;
    vertical-align: middle; 
}

.cardbottom {
    display: block;
    width: 924px;
}

.heading {
    text-decoration: underline;
    font-weight: 1000;
}

.italicise {
    font-style:italic;
    font-weight: 100;
    color: blanchedalmond
}

a:link {
    color: azure;
}

a:visited{
    color: aqua;
}